<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../Styles/style.css" />
  </head>
  <body>
    <div>
      <h1>Rejestracja</h1>
      <form action="" name="RegisterForm">
        <p>
          Name:
          <input type="text" name="name" placeholder="Your Name" />
        </p>
        <p>
          Surname:
          <input type="text" name="surname" placeholder="Your Surname" />
        </p>
        <p>
          E-mail:
          <input type="text" name="email" placeholder="Your E-mail" />
        </p>
        <p>
          Password:
          <input type="password" name="password" placeholder="Your Password" />
        </p>
        <p>
          Verify Password:
          <input
            type="password"
            name="verifyPassword"
            placeholder="Verify Password"
          />
        </p>
        <div>msg</div>
      </form>
      <button onclick="register()">Register</button>
    </div>

    <script src="../Scripts/Scripts.js" async defer></script>
  </body>
</html>
